*

{

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}

.full-page

{

    height: 100vh;

    width: 100%;

    background: coral;

    position: absolute;

}

.sub-page

{

    width: 1266px;

    height: 559px;

    position: absolute;

    background: url(bg1.jpg);

    background-size: cover;

    background-position: center;

    left: 50px;

    top: 50px;

}

.navigation-bar

{

    display: flex;

    align-items: center;

    padding: 20px;

    padding-left: 80px;

    padding-right: 30px;

    padding-top: 50px;

}

.logo

{

    position: fixed;

    margin-top: 10px;

}

.logo a

{

    text-decoration: none;

    color: white;

    font-size: 30px;

}

nav

{

    flex: 1;

    position: fixed;

    right: 0;

}

nav ul 

{

    display: inline-block;

    list-style: none;

}

nav ul li

{

    display: inline-block;

    margin-right: 90px;

    margin-top: 17px;

}

nav ul li a

{

    text-decoration: none;

    font-size: 20px;

    color: white;

    font-family: sans-serif;

}

nav ul li a:hover

{

    color: saddlebrown;

} 
label{  
color: #000000;  
font-size: 17px;  
}  
#Uname{  
width: 300px;  
height: 30px;  
border: none;  
border-radius: 3px;  
padding-left: 8px;  
}  
#Pass{  
width: 300px;  
height: 30px;  
border: none;  
border-radius: 3px;  
padding-left: 8px;  
  
}  
#log{  
width: 300px;  
height: 30px;  
border: none;  
border-radius: 17px;  
padding-left: 7px;  
color: rgb(3, 5, 5);  


}  
span{  
color: rgb(0, 0, 0);  
font-size: 17px;  
}  
/* Bordered form */
form {
border: 3px solid #ffffff;
}

/* Full-width inputs */
input[type=text], input[type=password] {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid rgb(0, 0, 0);
box-sizing: border-box;
}

/* Set a style for all buttons */
button {
background-color: #1c7b81;
color: rgb(255, 255, 255);
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
width: auto;
padding: 10px 18px;
background-color: #38bdb2;
}

/* Center the avatar image inside this container */
.imgcontainer {
text-align: center;
margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
width: 40%;
border-radius: 50%;
}

/* Add padding to containers */
.container {
padding: 16px;
}

/* The "Forgot password" text */
span.psw {
float: right;
padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
span.psw {
  display: block;
  float: none;
}
.cancelbtn {
  width: 100%;
}
.row1 {
    font-family:sans-serif;
    font-size: 26px;
}

th {
    border: 1px solid rgb(10, 141, 76);
    border-collapse: collapse;
    width: 10px;
    height: 35px;
    font-size: 16px;
}

.header1 h1 {
    font-size: 50px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400px;
    color: rgb(221, 9, 9);
}

.header1 p {
    font-size: 26px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

table {
    border-style: outset;
    border-collapse: collapse;
    border-color: rgb(5, 5, 5);
    width: 90%;
    height: 100px;
    margin: 0px auto;
    margin-top: 2%;
}

tr:nth-child(even) {
    background-color: #7ce7e7;
}

tr:nth-child(odd) {
    background-color: #3bb8b1;
}

.row2, .row3, .row4, .row5, .row6, .row7, .row8, .row9 {
    font-family: 'oswald', sans-serif;
    font-weight: 150px;
}

.time {
    font-family: 'Supermercado One', cursive;
}
section {
    font-size: 34px;
}
#main nav ul {
	float: right;
	margin-right: 20px;
	margin-top: 10px;	
}

#main nav ul li {
	list-style: none;
	display: inline-block;
	margin: 0 8px;
	line-height: 50px;
}

#main nav ul li a {
	font-family: Century Gothic;
	text-decoration: none;
	color: #27927d;
	font-size: 20px;
	padding: 6px 16px;
	transition: 0.3s all ease-out;
	letter-spacing: 5px;
}

#main nav ul li a.active,
#main nav ul li a:hover {
	background: #3dc2c2;
	color: rgb(0, 0, 0);
	transition: 0.4s all ease-out;
	text-transform: uppercase;
}
.text {
	transform: translate(-50%,-50%);
	position: absolute;
	top: 54%;
	left: 35%;
}
body  
{  
    margin: 0;  
    padding: 0;  
    background-color:#312d2d70;  
    font-family: 'Arial';  
}  
.login{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: #ffffff;  
        border-radius: 15px ;         
}  
label{  
    color: #000000;  
    font-size: 17px;  
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: rgb(3, 5, 5);  
  
  
}  
span{  
    color: rgb(0, 0, 0);  
    font-size: 17px;  
}  
/* Bordered form */
form {
    border: 3px solid #ffffff;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #1c7b81;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #38bdb2;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }


  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
}
}
.pt-3-half {
    padding-top: 1.4rem;
  }
  .row1 {
    font-family:sans-serif;
    font-size: 26px;
}

th {
    border: 1px solid rgb(10, 141, 76);
    border-collapse: collapse;
    width: 15px;
    height: 40px;
    font-size: 16px;
}

.header1 h1 {
    font-size: 50px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400px;
    color: rgb(221, 9, 9);
}

.header1 p {
    font-size: 26px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

table {
    border-style: outset;
    border-collapse: collapse;
    border-color: rgb(18, 185, 163);
    width: 75%;
    height: 100px;
    margin: 0px auto;
    margin-top: 2%;
}

tr:nth-child(even) {
    background-color: #7ce7e7;
}

tr:nth-child(odd) {
    background-color: #3bb8b1;
}

.row2, .row3, .row4, .row5, .row6, .row7, .row8, .row9 {
    font-family: 'oswald', sans-serif;
    font-weight: 150px;
}

.time {
    font-family: 'Supermercado One', cursive;
}
.hide {
    font-family: sans-serif;
    box-align: center;
}
body 
{
    background-color: rgba(0, 0, 0, 0.212);
}
#main nav ul {
	float: right;
	margin-right: 20px;
	margin-top: 10px;	
}

#main nav ul li {
	list-style: none;
	display: inline-block;
	margin: 0 8px;
	line-height: 50px;
}

#main nav ul li a {
	font-family: Century Gothic;
	text-decoration: none;
	color: #27927d;
	font-size: 20px;
	padding: 6px 16px;
	transition: 0.3s all ease-out;
	letter-spacing: 5px;
}

#main nav ul li a.active,
#main nav ul li a:hover {
	background: #3dc2c2;
	color: rgb(0, 0, 0);
	transition: 0.4s all ease-out;
	text-transform: uppercase;
}
.text {
	transform: translate(-50%,-50%);
	position: absolute;
	top: 54%;
	left: 35%;
}